name: AppSweep mobile application security testing
on: [push]
jobs:
  upload-app-to-appsweep:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Get commit
        run: git rev-parse --short HEAD

      - name: Build debug app
        run: ./gradlew assembleDebug

      - name: Upload debug app to AS
        uses: titze/test-gh-action@c9345b741e719a1b7348bc8c0a32385da87e53dc
        with:
            appsweep_api_key: ${{ secrets.APPSWEEP_API_KEY }}
            input_file: ./app/build/outputs/apk/debug/app-debug.apk
            mapping_file: ./app/build/outputs/mapping/debug/mapping.txt