name: AppSweep mobile application security testing
on: [push]
jobs:
  upload-app-to-appsweep:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Get commit
        run: git rev-parse --short HEAD

      - name: Upload debug app to AS
        uses: titze/test-gh-action@7f954ef52d071ddec0909ae2240776780a27855b
        with:
            appsweep_api_key: ${{ secrets.APPSWEEP_API_KEY }}
            input_file: ./app/build/outputs/apk/debug/app-debug.apk
            tag: debug