name: AppSweep mobile application security testing
on: [push]
jobs:
  upload-app-to-appsweep:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - uses: webfactory/ssh-agent@v0.9.0
        secrets:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Get commit
        run: git rev-parse --short HEAD

      - name: Build debug app
        run: ./gradlew assembleDebug

      - name: Upload debug app to AS
        uses: titze/appsweep-action@main
        with:
            appsweep_api_key: ${{ secrets.APPSWEEP_API_KEY }}
            input_file: ./app/build/outputs/apk/debug/app-debug.apk
            mapping_file: ./app/build/outputs/mapping/debug/mapping.txt
            tag: test1, test2, test3
