name: AppSweep mobile application security testing
on: [push]
jobs:
  upload-app-to-appsweep:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Get commit
        run: git rev-parse --short HEAD

      - name: Install CLI
        run: curl -fsSL https://platform.guardsquare.com/cli/install.sh | sh -s -- --yes

      - name: Build debug app
        run: ./gradlew assembleDebug
        
      - uses: guardsquare/appsweep-action@main
        name: Upload debug app to AS
        env:
            APPSWEEP_API_KEY: ${{ secrets.APPSWEEP_API_KEY }}
        run: guardsquare scan ./app/build/outputs/apk/debug/app-debug.apk --commit-hash ${{ github.sha }} --tag debug
