name: AppSweep mobile application security testing
on: [pull_request_target]
jobs:
  upload-app-to-appsweep:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        
      - name: Access APPSWEEP_API_KEY
        env:
            APPSWEEP_API_KEY: ${{ secrets.APPSWEEP_API_KEY }}
        run: |
            mkdir -p ~/.gradle/
            echo "::set-env name=GRADLE_USER_HOME::$HOME/.gradle"
            echo appSweepAPIKey=$APPSWEEP_API_KEY > ~/.gradle/gradle.properties
        
      - name: Upload app to AppSweep with Gradle
        run: ./gradlew uploadToAppSweepRelease --stacktrace
